* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

h1,
h2,
h3,
h4 {
  margin: 0.5em 0;
  font-weight: 400;
}

body::-webkit-scrollbar {
  width: 0.2rem;
}

body::-webkit-scrollbar-track {
  background: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  background: #e05f8a;
  border-radius: 20px;
}

.appContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.full-height {
  min-height: 100vh;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.logo {
  margin: 0;
  line-height: 1;
}

.nav-link {
  display: inline-block;
  color: #685c60;
  text-decoration: none;
}

.nav-link + .nav-link {
  margin-left: 1em;
}
